<section class="row">
    <div class="column">
        <h2>New Blog Post</h2>

        <form class="new-blog-form">
            <div>
                <label for="blog-title">Title</label>
                <input type="text" id="blog-title" name="blog-title" />
            </div>
            <div>
                <label for="blog-content">Content</label>
                <textarea id="blog-content" name="blog-content"></textarea>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</section>

{{#if blogs.length}}
<section>
    <h2>My Blog Posts</h2>
    <ol>
        {{#each blogs as |blog|}}
        <li>
            <div class="blog">
                <div class="blog-heading">
                    <div class="blog-name">
                        <h2>{{title}}</h2>
                    </div>
                    <div class="blog-date">
                        <p>Posted by {{user.name}} on {{format_date date_created}}</p>
                    </div>
                    <div class="blog-content">
                        <p>{{contents}}</p>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}