header, .blog:not(:last-child) {
    border-bottom: 1px dashed rgb(94, 94, 192);
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: blueviolet;
    text-decoration: none;
    font-size: 100%;
}

.no-button:hover {
    color:aqua;
    text-decoration: underline;
}

ol li {
    list-style: none;
    border: 2px solid blueviolet;
    padding: 20px;
}